/* globals */

:root{
    --link-color: #e60012;
    --hero-background-color: #d6f0fa;
    --background-color: #fff;
    --button-background: #0b2bfb;
    --sub-text: #efefef;
    --text-color: #434242;
    --font-family: 'Montserrat'; 
}

/* div{
    border: black solid 1px;
} */
body{
    font-family: var(--font-family), sans-serif;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
i{
    font-size: 28px;
}

ul{
    padding: 0;
}

h2,
h3{
    margin: 0;
}
.top-nav,
.navbar, 
.search, 
.navbar-inner, 
.navbar-inner ul,
.navbar-inner ul li a, 
.dropdown, .navbar-inner p, .showcase-box, .showcase-box .box-wrapper,
.box-wrapper,
.top-panel,
.img-wrapper-thumbnails,
.sub-panel,
.price,
.purchaseOptions,
.btn-1,
.right-panel,
.game-description,
.game-description-item,
.text-box, 
.specification-panel,
.esrb-rating,
.thumbnail,
.online,
.more-panel,
.card-content,
.card-content .nintendo-footer,
.more-like-this,
.footer-top-banner,
.footer-link-grid div ul,
.footer-banner-bottom,
.footer-banner-bottom-item ul{
    display: flex;
}

.search,
.dropdown,
.navbar-inner, 
.navbar-inner ul li a, 
.navbar-inner p,
.top-panel,
.price,
.purchaseOptions,
.specification-list li,
.card-content,
.nintendo-footer,
.footer-top-banner{
    align-items: center;
}

.responsive-nav{
    display: none;
    color: var(--link-color);
}
.specificaiton-list li{
    justify-content: space-around;
}

.search{
    border-bottom: var(--text-color) 1px solid;
    margin-top: -5px;
}

.search:hover{
    border-bottom: var(--link-color) 1px solid;
}
/* injectables */
.pr-50{
    padding-right: 50px;
}

.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px
}

.gap-20{
    gap: 20px;
}

.gap-30{
    gap: 30px;
}

.ml-15{
    margin-left: 15px;
}

.mt-10{
    margin-top: 10px;
}

.background-gray{
    background-color: var(--sub-text);
}

.bt-color-gray{
    border-top: var(--sub-text) 1px solid;
}

.justify-center{
    justify-content: center;
}

.justify-spacebetween{
    justify-content: space-between;
}

.rounded{
    border-radius: 10px;
}
.btn{
    width: 100%;
}
.btn-1{
    background-color: var(--link-color);
    padding: 1rem;
    color: white;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    gap: 20px;
    border-radius: 12px;
    transition: 300ms;
}

.btn-1:hover{
    background-color: firebrick;
    transform: scale(1.05);
}

.col{
    flex-direction: column;
}

.pushDown{
    margin-top: 150px;
}

.shrink{
    width: fit-content;
}

.link{
    color:var(--link-color);
    text-decoration: underline;
    font-weight: 600;
    transition: 300ms;
}

.link:hover{
    color: firebrick;
}


.hidden{
    display: none;
}
/* div-classes */

/* top-nav navbar1 */
.navbar{
    align-items: center;
    /* justify-content: space-between; */
    height: 50px;
}
.top-nav, .showcase-box .box-wrapper, .thumbnail,
.footer-link-grid div ul{
    flex-direction: column;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.navbar-inner{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    transition: 400ms;
}
.img-wrapper img{
    width: 100%;
    /* height: 100%; */
    border-radius: inherit;
}
.img-wrapper{
    width: 100%;
}

input{
    border: none;
    height: 100%;
    font-size: 16px;
    margin-right: 5px;
}

input:focus{
    outline: none;
}

.searchbox, .dropdown, li, li a:hover, .search{
    transition: 300ms;
}
.searchbox:hover, .dropdown:hover, li a:hover{
    color: var(--link-color);
    align-items: center;
}

/* hero section */
section.hero{
    height: 650px;
    width: 100%;
    background-color: var(--hero-background-color);
    position: relative;
}
.showcase-box{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
    transform: translateY(2rem);

}
.box-wrapper{
    width: 100%;
    flex: 1;
}
.top-panel{
    color: var(--text-color);
    font-size: 12px;
    padding: 0 0 10px 0;
}
.top-panel i{
    color: var(--sub-text);
}
.img-wrapper-thumbnails{
    /* gap:30px; */
    padding: 10px 0;
}

.thumbnail{
    flex:1;
    height: fit-content;
    /* width: fit-content; */
}

.thumbnail img{
    height: fit-content;
}
.left-panel{
    width: fit-content;
}
.panel-wrapper{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.text-block{
    color: var(--text-color);
    font-size: 14px;
}

.text-block div:first-child{
    padding-bottom: 10px;
}
.text-block div:last-child{
    border-top: solid black 1px;
    padding-top: 5px;
}

.right-panel{
    padding: 10px;
}

span.nin-switch{
    font-size: 14px;
    border-left: var(--link-color) solid 1px;
    padding-left: 5px;
}

.purchaseOptions{
    color: var(--text-color);
    font-size: 8px;
}

.right-panel-reminder{
    font-size: 12px;
}

.expand{
    color: red;
    display:flex;
    align-items: center;
}


.game-description-item span.software-description{
    font-size: 12px;
    padding: 10px 5px;
}

.game-description-item p span{
    transition: 300ms;
}


/* Specification section */
.specifications{
    margin-top: 50px;
}

.specification-panel{
    gap: 50px;
}
.specification-panel-item{
    padding: 2rem 3rem;
    background-color: var(--sub-text);
    flex:1;
    border-radius: 14px;
}

.specification-panel-item p{
    font-weight: 600;
    text-align: center;
}

.specification-panel-item .sub-panel{
    margin-top: 10px;
}
.esrb-rating{
    background-color: var(--background-color);
    padding: 2rem;
    margin-top: 10px;
    box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
    border-radius: 14px;
}

.game-description-item,
.specificaiton-list li h3,
.specification-list li span{
    flex: 1;
}

.specification-list{
    margin-top: 20px;
}
.specification-list li{
    display: grid;
    grid-template-columns: 28px 1fr 2fr;
    gap: 1.25rem;
    border-top: 1px solid rgb(218, 218, 218);
    padding: 1rem 0;
}

.specification-list li:last-child{
    border-bottom: 1px solid rgb(218, 218, 218);
}

.thumbnail .thumbnail-playmode{
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    border-radius: 14px;
}

/* Online Section */
.online{
    background-color: var(--sub-text);
    margin: 100px 0;
    padding: 0 2rem;
    border-radius: 14px;
}

.online div, .online img{
    flex: 1;
}

.online div p{
    font-size: 21px;
    margin: 22px 0;
}

.online div p span, .online div p a{
    font-size:1rem;
}
.online div{
    padding: 2rem 0;
}

.more-like-this{
    gap: 50px;
}
.more-panel{
    justify-content: center;
}

.more-panel-card{
    max-width: 16rem;
    border-radius: 14px;
    transition: 300ms;
}

/* .more-panel-card:hover{
    background-color: white;
    
    & .more-panel-card .card-content h3{
        color: var(--link)
    }

    & .img-wrapper{
        margin-bottom: 10px;
    }
} */

.more-panel-card .img-wrapper{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.more-panel-card .card-content{
    padding: 1rem;
    border-bottom:var(--sub-text) solid 1px;
    border-left:var(--sub-text) solid 1px;
    border-right:var(--sub-text) solid 1px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}

.card-content .title{
    transition: 300ms;
}

.card-content .title:hover{
    padding-top: 10px;
    color: red;
}

.card-content .title span{
    font-size: 12px;
}

.card-content .price{
    font-weight: 700;
    font-size: 1.2rem;
}

.nintendo-footer i{
    transition: 300ms;
}

.nintendo-footer i:hover{
    color: var(--link-color);
}

.disclaimer p{
    color: #646668;
    font-size: 12px;
    margin: 10px 0;
}

/* footer section */
footer{
    margin-top: 50px;
}
.footer-top-banner{
    background-color: var(--link-color);
    color: white;
    padding: 3rem 2rem;
}

.footer-social-media{
    display:grid;
    grid-template-columns: repeat(4, 60px);
}
.footer-social-media i{
    font-size: 2rem;
}

.footer-link-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
}

.footer-link-grid div{
    border-left: rgb(218, 218, 218) solid 1px;
    padding-left: 30px;
}

.footer-link-grid div ul{
    gap: 10px;
}

.footer-link-grid div ul li a{
    color: var(--link-color);
    font-size: 14px;
    font-weight: 700;
    transition: 500ms;
}

.footer-link-grid div ul li a:hover{
    color: firebrick;
    text-decoration: underline;
}

.footer-link-grid div h3{
    font-weight: 600;
    font-size: 1rem;
}

.footer-banner-bottom{
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    align-items: center;
    gap: 50px;

}

.footer-banner-bottom-item{
    flex: 1;
    font-size: 12px;
}

.footer-banner-bottom-item ul li a{
    color: white;
    font-weight: 600;
    font-size: 12px;
}
