/* globals */

:root{
    --link-color: #e60012;
    --hero-background-color: #d6f0fa;
    --background-color: #fff;
    --button-background: #0b2bfb;
    --sub-text: #efefef;
    --text-color: #434242;
    --font-family: 'Montserrat'; 
}

/* div{
    border: black solid 1px;
} */
body{
    font-family: var(--font-family), sans-serif;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
}
.container{
    max-width: 1200px;
}
i{
    font-size: 28px;
}
.top-nav,
.navbar, 
.search, 
.navbar-inner, 
.navbar-inner ul,
.navbar-inner ul li, 
.dropdown{
    display: flex;
}

.search, .dropdown{
    align-items: center;
}

/* injectables */
.pr-50{
    padding-right: 50px;
}

.gap-10{
    gap: 10px
}

.ml-15{
    margin-left: 15px;
}

.background-gray{
    background-color: var(--sub-text);
}

.justify-center{
    justify-content: center;
}

.justify-spacebetween{
    justify-content: space-between;
}
/* div-classes */

/* top-nav navbar1 */
.navbar{
    align-items: center;
    /* justify-content: space-between; */
    height: 50px;
}
.top-nav{
    flex-direction: column;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
input{
    border: none;
}
